* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    background: radial-gradient(#131313, #0c0c0c);
    background-repeat: no-repeat;
}

/* #navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navbar li {
    float: right;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} */

nav {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    position: fixed;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding-right: 1rem;
}

nav a {
    text-decoration: none;
    color: #ffffff
}

#home {
    width: auto;
    height: 100%;
}

#humanlike-title {
    width: 40%;
    height: auto;
    pointer-events: none;
}


#listen {
    width: auto;
    height: 100%;
    background: radial-gradient(#131313, #0c0c0c);
    background-repeat: no-repeat;
}

#contact {
    width: auto;
    height: 100%;
    background: radial-gradient(#131313, #0c0c0c);
    background-repeat: no-repeat;
}

#center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
}